<div class="container">
  <h1 class="section-header">About Us</h1>
  <h4 class="section-header">Benoit Electric</h4>
  <div class="row">
    <div class="col-md-6">
      <p class="about-paragraph">
        Benoit Electric was founded in 1986 by John and Pam Benoit with a handful of trusted and hardworking employees. In 1989, they incorporated as Benoit Electric, Inc. Benoit Electric started out by focusing on superior quality, craftsmanship, and lasting relationships with customers and general contractors, which they saw as a gap in the commercial market. Today those qualities Benoit Electric seeks to offer the market have become our competitive advantage. Evidence of this is shown in the fact that Benoit Electric has worked in certain facilities for over 30 years; including many more repeat commercial customers and praise of general contractors they work with. Benoit Electric is now a top electrical contractor in the State of Vermont with over 60 employees with expertise in industrial, institutional, and health care facilities.
      </p>
    </div>
    <div class="col-md-6">
      <div class="about-image">
        <%= image_tag("employee_1986.jpg", :alt => "Benoit Electric 1986") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="about-image">
        <%= image_tag("uvm_srlc_1.jpg", :alt => "UVM Student Residential Learning Center") %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="about-paragraph">
        A main source of pride for John and Pam Benoit is the quality of work from their employee’s. At Benoit Electric, high quality work in addition to timeliness is rewarded. Not just finishing a job like some contractors, but finishing it while taking pride in the work one has done. Because Benoit Electric acknowledges employees who embody our philosophy of quality craftsmanship, the incentive for employees to be exceptional is high. With these incentives Benoit Electric has the ability to retain the top electricians in the state of Vermont. This long retention of employees speaks volumes for the quality of our employees and how we think those employees feel about Benoit Electric.
      </p>
    </div>
  </div>
  <h4 class="section-header">Bates & Murray</h4>
  <div class="row">
    <div class="col-md-6">
      <p class="about-paragraph">
        In 1946, Gene Bates and George Murray formed a partnership in the electrical contracting business in Newport, Vermont. In 1954, they incorporated as Bates & Murray, Inc. and continued to grow in business volume. At that time they expanded their territory to cover almost all of Vermont. In 1964, they decided to relocate to the Central Vermont area to be better able to serve all of Vermont, eastern New York, and western New Hampshire.
      </p>
      
      <p class="about-paragraph">Ronald York and Robert Norway purchased Bates & Murray, Inc. in 1975 and were partners until 1994, when Norway retired and sold his shares to York. In 2005, York retired and sold his shares to Albert (Albie) Borne, Jr. and Gary H. Clark.</p>
    </div>
    <div class="col-md-6">
      <div class="about-image">
        <%= image_tag("bates_and_murray_original_crew.jpg", :alt => "Bates & Murray Original Crew") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="about-image">
        <%= image_tag("bam_747.gif", :alt => "Bates & Murray Advertisement") %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="about-paragraph">Quality workmanship and customer satisfaction are goals that Bates & Murray, Inc. continues to meet. These philosophies have produced the successful and respected company and Bates & Murray, Inc. is today.</p>
      <p class="about-paragraph">Primarily, the company performs electrical installation for large multi-residential projects, commercial, industrial, and institutional buildings. Bates & Murray, Inc. has been involved with many major projects over the years, including Fletcher Allen Health Care’s McClure Wing, National Life Insurance Company’s Office Tower, University of Vermont’s Student Center, Hydro-Electric generating facilities, and Ben  & Jerry’s Homemade Ice Cream Manufacturing Facility, to name a few.</p>
    </div>
  </div>
  <h4 class="section-header">Today</h4>
  <div class="row">
    <div class="col-md-6">
      <p class="about-paragraph">
        On July 7th, 2017, Benoit Electric, Inc. acquired Bates & Murray, Inc. from Gary Clark and Albert Borne Jr. This has united two of the leading electrical contractors in the state of Vermont.
      </p>
    </div>
    <div class="col-md-6">
      <div class="about-image">
        <%= image_tag("office_view.jpg", :alt => "Benoit Electric Office View") %>
      </div>
    </div>
  </div>
</div>