<div id="benoit-hero" class="hero-holder">
  <div class="hero-image">
      <div class="hero-caption">
          <h1>Benoit Electric</h1>
          <h2 class="script-font">Vermont's leading electrical contractor</h2>
      </div>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <h1 class="section-header">Serving Vermont since 1986</h1>
  <h2 class="section-header">Dedication to <b><i>Employees</i></b></h2>

  <!-- Marketing Icons Section -->
  <div class="row">
      <div class="col-lg-4">
          <div class="card h-100">
              <h4 class="card-header">1986</h4>
              <div class="card-block">
                  <%= image_tag("employee_1986.jpg", :alt => "Benoit Electric 1986") %>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card h-100">
              <h4 class="card-header">2000</h4>
              <div class="card-block">
                  <%= image_tag("employees_2000.jpg", :alt => "Benoit Electric 2000") %>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card h-100">
              <h4 class="card-header">2013</h4>
              <div class="card-block">
                  <%= image_tag("employees_2013.jpg", :alt => "Benoit Electric 2013") %>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <h2 class="section-header"><b><i>Quality</i></b> Craftsmanship</h2>

  <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("cvmc_power_4.jpg", :alt => "CVMC Emerg pow upgrade", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">CVMC - Emergency Power Upgrade</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("uvm_srlc_1.jpg", :alt => "UVM Student Residential Learning Center", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">UVM - Student Residential Learning Center</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("uvm_jeffords_3.jpg", :alt => "UVM Jeffords Hall", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">UVM - Jeffords Hall</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("middlebury_bch_1.jpg", :alt => "Middlebury College", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">Middlebury College - Bicentennial Hall</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("uvm_health_science_1.jpg", :alt => "UVM Health Science", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">UVM - Health Science Research Facility</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
                  <%= image_tag("telecom_patch_2.jpg", :alt => "Telecom Installation", :class => "card-img-top img-fluid") %>
              <div class="card-block">
                  <h4 class="card-title">Telecommunication Installation</h4>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>