<!DOCTYPE html>
<html>
  <head>
    <title>Benoit Electric</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Benoit Electric is the leading Electrical Contractor in the state of Vermont. Built with a dedication to quality and our employees.">
    <meta name="author" content="Peter Benoit">
    
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="header-holder">
    <div class="container clearfix top-contact-info">
      <div id="logo">
        <a href="/" class="standard-logo"><%= image_tag("benoit-electric-logo.png", :alt => "Benoit Electric Inc.") %></a>
        
      </div><!-- #logo end -->

      <ul class="header-extras">
        <li>
          <i class="i-plain fa fa-phone nomargin"></i>
          <div class="he-text">
            Call Us
            <span>(802) 229-1955</span>
          </div>
        </li>
        <li>
          <i class="i-plain fa fa-envelope-o nomargin"></i>
          <div class="he-text">
            Email Us
            <span>Pam@BenoitElectric.com</span>
          </div>
        </li>
        <li>
          <i class="i-plain fa fa-map-marker nomargin"></i>
          <div class="he-text">
            Our Address
            <span>245 Industrial Lane, Barre VT</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
    <!-- Navigation -->
    <div class="nav-holder">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag("benoit-electric-be.png", :alt => "Benoit Electric Inc.") %></a>
          <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to service_path, class: "nav-link" do %>
                  Service
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to telecom_path, class: "nav-link" do %>
                  Telecom
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: "nav-link" do %>
                  About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to career_path, class: "nav-link" do %>
                  Career
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to contact_path, class: "nav-link" do %>
                  Contact
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="nav-bottom-black">
      </div>
      <div class="nav-bottom-red">
      </div>
    </div>
    <%= yield %>
    

    <!-- Footer -->
    <footer class="py-3 bg-inverse">
      <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Benoit Electric 2017</p>
      </div>
      <!-- /.container -->
      
      <div class="row footer-extras">
        <div class="col-lg-4 col-md-12">
          <i class="i-plain fa fa-phone nomargin"></i>
          <div class="he-text">
            Call Us
            <span>(802) 229-1955</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <i class="i-plain fa fa-envelope-o nomargin"></i>
          <div class="he-text">
            Email Us
            <span>Pam@BenoitElectric.com</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <i class="i-plain fa fa-map-marker nomargin"></i>
          <div class="he-text">
            Our Address
            <span>245 Industrial Lane, Barre VT</span>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
