<!DOCTYPE html>
<html>
  <head>
    <title>Benoit Electric</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="header-holder">
    <div class="container clearfix top-contact-info">
      <div id="logo">
        <a href="/" class="standard-logo"><%= image_tag("benoit-electric-logo.png", :alt => "Benoit Electric Inc.") %></a>
        
      </div><!-- #logo end -->

      <ul class="header-extras">
        <li>
          <i class="i-plain fa fa-phone nomargin"></i>
          <div class="he-text">
            Call Us
            <span>(802) 229-1955</span>
          </div>
        </li>
        <li>
          <i class="i-plain fa fa-envelope-o nomargin"></i>
          <div class="he-text">
            Email Us
            <span>Pam@BenoitElectric.com</span>
          </div>
        </li>
        <li>
          <i class="i-plain fa fa-map-marker nomargin"></i>
          <div class="he-text">
            Our Address
            <span>245 Industrial Lane, Barre VT</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
    <!-- Navigation -->
    <div class="nav-holder">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag("benoit-electric-be.png", :alt => "Benoit Electric Inc.") %></a>
          <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="services.html">Service</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="services.html">Telecom</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">Employment</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="nav-bottom-black">
      </div>
      <div class="nav-bottom-red">
      </div>
    </div>
    <div id="benoit-hero" class="hero-holder">
      <div class="hero-image">
          <div class="hero-caption">
              <h1>Benoit Electric</h1>
              <h2 class="script-font">Vermont's leading electrical contractor</h2>
          </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <h1 class="section-header">Serving Vermont since 1986</h1>
        <h2 class="section-header">Dedication to <b><i>Employees</i></b></h2>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card h-100">
                    <h4 class="card-header">1986</h4>
                    <div class="card-block">
                        <%= image_tag("employee_1986.jpg", :alt => "Benoit Electric 1986") %>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <h4 class="card-header">2000</h4>
                    <div class="card-block">
                        <%= image_tag("employees_2000.jpg", :alt => "Benoit Electric 2000") %>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <h4 class="card-header">2013</h4>
                    <div class="card-block">
                        <%= image_tag("employees_2013.jpg", :alt => "Benoit Electric 2013") %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2 class="section-header"><b><i>Quality</i></b> Craftsmanship</h2>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("cvmc_power_4.jpg", :alt => "CVMC Emerg pow upgrade", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">CVMC - Emergency Power Upgrade</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("uvm_srlc_1.jpg", :alt => "UVM Student Residential Learning Center", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">UVM - Student Residential Learning Center</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("uvm_jeffords_3.jpg", :alt => "UVM Jeffords Hall", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">UVM - Jeffords Hall</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("middlebury_bch_1.jpg", :alt => "Middlebury College", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">Middlebury College - Bicentennial Hall</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("uvm_health_science_1.jpg", :alt => "UVM Health Science", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">UVM - Health Science Research Facility</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                        <%= image_tag("telecom_patch_2.jpg", :alt => "Telecom Installation", :class => "card-img-top img-fluid") %>
                    <div class="card-block">
                        <h4 class="card-title">Telecommunication Installation</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Benoit Electric 2017</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
